* {
    /* I don't know if it's just a me thing but the scroll bars don't show up ?? */
    scrollbar-color: lightgray transparent;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;
}

section {
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;
}

section#input {
    width: fit-content;
    text-align: center;
}

/* TODO: Get rid of the weird margin-right */
section#input input {
    margin-left: 0.4em;

    /* HACK: This doesn't fix anything. Good god */
    /* Check https://stackoverflow.com/a/70528034 */
    margin-right: -4em;
}

section#input p {
    margin: 0;
}

section#editing {
    max-width: 75%;
    display: flex;
    flex-direction: row;
}

section#editing div#canvas-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* grid-template-columns: 1fr; */
}

section#editing button#save-image {
    width: fit-content;
}
section#editing canvas#main-canvas {
    margin: 2em;
    box-shadow: 0 0 10px 5px #888888;
    /* aspect-ratio: 1 / 1; */
    max-width: 40vw;
    /* width: 100%; */
}

section#editing canvas#main-canvas.dragover {
    opacity: 0.5;

    box-shadow:
        0 0 10px 5px #888888,
        inset 0px 0px 50px 10px #333333;
}

/* ----- Controls ----- */
section#editing div#controls {
    background-color: #dddddd;
    padding: 10px;
    border-radius: 10px;

    width: 100%;
    display: grid;
    row-gap: 10px;
    grid-template-columns: 1fr;
    height: fit-content;
    /* gap: 10px; */
}

/* Inputs and such are inside of a label. */
section#editing div#controls > label {
    width: fit-content;
    display: grid;
    grid-template-columns: 0.5fr auto 0.5fr;
    gap: 10px;
    align-content: center;
}

/* These behave a little strangely, so some tweaking is needed.
 * For example, they don't care about the template columns */
section#editing div#controls input[type="number"] {
    margin: auto 0;
    height: min-content;
    width: 100%;
}

section#editing div#controls select#controls {
    height: fit-content;
}

/* ----- Background preview ----- */
section#background-preview {
    max-width: 65%;
    display: grid;
    gap: 10px;

    justify-content: center;

    /* Force columns to be the same width */
    /* From https://stackoverflow.com/a/61240964 */
    grid-template-columns: repeat(auto-fill, minmax(0, 128px));
    grid-auto-rows: 1fr;
}

section#background-preview .preview-block {
    /* padding: 4px; */
    border: none;
    background-color: unset;
    /* The z-index transition makes the overlap a little smoother */
    transition:
        transform 0.2s ease-in-out,
        box-shadow 0.2s,
        z-index 0s 0.1s;
    height: min-content;
    padding: 0;
    z-index: 0;
}

section#background-preview .preview-block canvas {
    transition:
        border-top-left-radius 0.2s,
        border-top-right-radius 0.2s;
}

section#background-preview .preview-block p {
    text-align: center;
    margin: -5px 5px 2px 5px;
    overflow-x: scroll;
}

section#background-preview .preview-block:hover,
section#background-preview .preview-block:focus {
    /* Make sure it shows up above the other ones, otherwise it looks weird. */
    transition:
        transform 0.2s ease-out,
        box-shadow 0.2s;
    z-index: 10;
    transform: scale(1.2, 1.2);
    box-shadow: 0 0 10px 0 #333333;
    border-radius: 4px;
    background-color: #eeeeee;

    /* Without the padding 0 there's like a 1px padding for some reason */
    padding: 0;
}

section#background-preview .preview-block:hover canvas,
section#background-preview .preview-block:focus canvas {
    width: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

section#background-preview .preview-block.selected-background {
    background-color: #f8f8f8;
    box-shadow: 0 0 0 4px #bebebe;
    border-radius: 6.5px;
}

section#background-preview .preview-block.selected-background canvas {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

section#background-preview canvas {
    aspect-ratio: 1 / 1;
    width: 100%;
}

textarea#javascript-input {
    height: 20em;
}
