body {
    font-family: "Open Sans", "Arial", sans-serif;
}

section {
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;
}

section#input {
    width: fit-content;
    text-align: center;
}

/* TODO: Get rid of the weird margin-right */
section#input input {
    margin-left: 0.4em;

    /* HACK: This doesn't fix anything. Good god */
    /* Check https://stackoverflow.com/a/70528034 */
    margin-right: -4em;
}

section#input p {
    margin: 0;
}

section#editing {
    max-width: 75%;
    display: flex;
    flex-direction: row;
}

section#editing div#canvas-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* grid-template-columns: 1fr; */
}

section#editing button#save-image {
    width: fit-content;
}
section#editing canvas#main-canvas {
    margin: 2em;
    box-shadow: 0 0 10px 5px #888888;
    /* aspect-ratio: 1 / 1; */
    max-width: 40vw;
    /* width: 100%; */
}

section#editing canvas#main-canvas.dragover {
    opacity: 0.5;

    box-shadow:
        0 0 10px 5px #888888,
        inset 0px 0px 50px 10px #333333;
}

section#editing div#controls {
    background-color: #dddddd;
    padding: 10px;
    border-radius: 10px;
    width: 100%;

    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* gap: 10px; */
}

section#editing div#controls select#controls {
    height: fit-content;
}

/* ----- Background preview ----- */
section#background-preview {
    max-width: 65%;
    display: grid;
    gap: 10px;

    /* Force columns to be the same width */
    /* From https://stackoverflow.com/a/61240964 */
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

@media screen and (min-width: 2000px) {
    section#background-preview {
        max-width: 80%;
        grid-template-columns: repeat(10, minmax(0, 1fr));
    }
}

@media screen and (max-width: 800px) {
    section#background-preview {
        max-width: 80%;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media screen and (max-width: 600px) {
    section#background-preview {
        max-width: unset;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

section#background-preview .preview-block {
    padding: 4px;
    border: none;
    background-color: unset;
}

section#background-preview .preview-block p {
    text-align: center;
    margin: 0 5px;
    overflow-x: scroll;
}

section#background-preview .preview-block.selected-background {
    background-color: #dddddd;
    border-radius: 8px;
    border: 4px solid #cacaca;
}

section#background-preview canvas {
    aspect-ratio: 1 / 1;
    width: 100%;
}
